@media all and (min-width: 480px) {
    .GuestLogin {
      padding: 60px 0;
      box-shadow: 2px 2px 5px;
      border-radius: 5px;
      background: linear-gradient(to bottom right, #5899e2 0%, whitesmoke 20%);
    }
  
    .GuestLogin form {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 320px;
    }

    .GuestLogin .username,
    .GuestLogin .password
    {
      width: 500px;
    }
    .Login-btn {
      width: 100px;
    }
  }