@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      flex-direction: column;
    }
  
    .Login form {
      margin: 0 auto;
      min-width: 320px;
    }

    .Login .username,
    .Login .password
    {
      width: 500px;
    }
    .Login .Login-btn {
      width: 100px;
    }
  }