* {
    margin: 0;
    padding: 0;
}
body {
    background: whitesmoke;
    color: #222;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* ----- Home Page Banner ----- */
.banner{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .75rem 0 .75rem 0;
}
.banner h1{
    color: #333;
}
.banner .row{
    align-items: center;
}
.banner button {
    margin: 0 1rem 0 1rem;
}
.not-btn{
    width: 1.5rem;
}
.not-btn:hover {
    width: 1.75rem;
    transition: 0.25s ease-in-out;
}
.home-page{
    text-align: center;
}

/* ----- Profile Page ----- */
.enrolled {
    margin: 5%; 
    padding: 5%;
    align-items: center;
    background: linear-gradient(to right, #5899e2 0%, whitesmoke 50%);
    border-radius: 15px;
}

/* ----- Navigation bar ----- */
.options{
    border-top: 0.075rem solid #ccc;
    border-bottom: 0.075rem solid #ccc;
    background: whitesmoke;
}
.options .nav-link{
    list-style: none;
    color: #777;
    text-decoration: none;
    font-size: 13px;
}
.options .nav-link::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #93caed;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.options .nav-link:hover::after{
    width: 100%;
}

/* ----- Courses options ----- */
.pin-btn{
    width: 1.5rem;
}
.course-main{
    text-align: center;
}
.course-cont{
    background: whitesmoke;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 2.5px 2.5px 5px;
    border-radius: 5px;
}
.courses{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.courses h2{
    margin: 30px 10px 20px 10px;
}
.courses .cont{
    box-shadow: 5px 5px 20px;
    border-radius: 5px;
    background: whitesmoke;
    padding: 2rem;
}
.courseTitle {
    margin-top: 10px;
}

/* ----- Each Course Card ----- */
.course-card:hover{
    box-shadow: 10px 1px 20px;
    transition: 0.25s ease-in-out;
}

/* ----- Each Course Card ----- */
.course-card:hover{
    box-shadow: 10px 1px 20px;
    transition: 0.25s ease-in-out;
}
  
/* ----- Lectures Section ----- */
.lectures-sec {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 1rem;
}
.lecture {
    box-shadow: 2px 2px 5px;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

/* ----- Class List Section ----- */
.emailsTitle {
    margin-top: 15px;
    padding: 10px;
    box-shadow: 1px 1px 3px;
    background: linear-gradient(to bottom right, #5899e2 0%, whitesmoke 20%);
}